# ignore database
#including >1k8 wav&txt files
cycle_prediction/data/
pathology_prediction/data/

#ignore some csv because too heavy to be upload
#cycle_prediction/data/csv/challenge/
#pathology_prediction/data/csv/challenge/
